extends layout

block content
  h1= title 
  p welcome to #[em LocalLibarary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content 

  p The library has the following records counts:
  
  ul
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{numBook_instance_count}
    li #[strong Copies:] !{numBook_instance_count_available}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}

